.nav-tabs .nav-link {
  color: #fff;
}

.nav-tabs .is-active {
  color: #ff9900;
}

.nav-tabs .signout {
  cursor: pointer;
}

.nav-tabs .cart-badge {
  border-radius: 100%;
  padding: 2px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
