body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn,
.jumbotron,
.nav {
  border-radius: 0;
}

.black-10 {
  background: #f2f2f2;
}

.black-9 {
  background: #e6e6e6;
}

.black-8 {
  background: #d9d9d9;
}

.black-7 {
  background: #ccc;
}

.black-6 {
  background: #bfbfbf;
}

.black-5 {
  background: #b3b3b3;
}
